@import "@fontsource-variable/bricolage-grotesque";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/jetbrains-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37.5 36.3636% 95.6863%;
    --foreground: 8.8889 27.8351% 19.0196%;
    --card: 37.5 36.3636% 95.6863%;
    --card-foreground: 8.8889 27.8351% 19.0196%;
    --popover: 37.5 36.3636% 95.6863%;
    --popover-foreground: 8.8889 27.8351% 19.0196%;
    --primary: 123.038 46.1988% 33.5294%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124.6154 39.3939% 93.5294%;
    --secondary-foreground: 124.4776 55.3719% 23.7255%;
    --muted: 33.75 34.7826% 90.9804%;
    --muted-foreground: 15 25.2874% 34.1176%;
    --accent: 122 37.5000% 84.3137%;
    --accent-foreground: 124.4776 55.3719% 23.7255%;
    --destructive: 0 66.3866% 46.6667%;
    --destructive-foreground: 0 0% 100%;
    --border: 33.913 27.0588% 83.3333%;
    --input: 33.913 27.0588% 83.3333%;
    --ring: 123.038 46.1988% 33.5294%;
    --radius: 0.5rem;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;
    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;
    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;
    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;
  }

  .dark {
    --background: 132.8571 20% 13.7255%;
    --foreground: 32.7273 26.8293% 91.9608%;
    --card: 124.6154 12.6214% 20.1961%;
    --card-foreground: 32.7273 26.8293% 91.9608%;
    --popover: 124.6154 12.6214% 20.1961%;
    --popover-foreground: 32.7273 26.8293% 91.9608%;
    --primary: 122.4242 39.4422% 49.2157%;
    --primary-foreground: 125.7143 51.2195% 8.0392%;
    --secondary: 115.3846 9.6296% 26.4706%;
    --secondary-foreground: 114 13.8889% 85.8824%;
    --muted: 126 11.9048% 16.4706%;
    --muted-foreground: 34.7368 19.1919% 80.5882%;
    --accent: 122.7907 43.4343% 38.8235%;
    --accent-foreground: 32.7273 26.8293% 91.9608%;
    --destructive: 0 66.3866% 46.6667%;
    --destructive-foreground: 32.7273 26.8293% 91.9608%;
    --border: 115.3846 9.6296% 26.4706%;
    --input: 115.3846 9.6296% 26.4706%;
    --ring: 122.4242 39.4422% 49.2157%;
    --radius: 0.5rem;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;
    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;
    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;
    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    min-height: 100vh;
    font-family: "Inter Variable", system-ui, sans-serif;
    letter-spacing: -0.01em;
    @apply bg-background text-foreground;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: "JetBrains Mono Variable", monospace;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:
      "Bricolage Grotesque Variable", "Inter Variable", system-ui, sans-serif;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 9999px;
  @apply bg-accent;
}

::-webkit-scrollbar-corner {
  display: none;
}
